
:root {
  
               background-image: linear-gradient(236deg, #f008dc, rgb(17, 0, 37), #04cbfd);
               height: 1000px;
               display: flex;
               justify-content: center;
               align-items: center;
}

body {
  align-content: center;
  justify-content: center;

}

#greatdane {
  height:1200px;
  width: 1000px;
  position: absolute;
  margin-top: -850px;
  margin-left: 600px;
}




h1 {
  font-size: 100px;
  text-align: center;
  background-image: linear-gradient(236deg, #fff,#0ab1f3, #fff,#fd04f1, #0ad8f3, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing:10px;

}

::placeholder {
  background-image: linear-gradient(236deg, #f008dc, #04cbfd);
  text-align: center;
  line-height: 30px;
  font-size: 30px;

  background-color: black;
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
               0 0 20px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
            

}

#equal {
  width: 100px;
}

#inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px ;
}

#result {
  font-size: 80px;
  background-color: black;
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
               0 0 20px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
               text-align: right;
               
}

#chanting {
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
               0 0 20px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
               text-align: center;
               margin: 20px;
}

.allButtonsInputs {
  display: flex;
  justify-content: center;
  align-items: center;

}

input {
  line-height: 30px;
  color: #fff;
  background: black;
  text-shadow: 0 0 10px #03bcf4,
  0 0 20px #03bcf4,
  0 0 40px #03bcf4,
  0 0 80px #03bcf4,
  0 0 160px #03bcf4;
}




button {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
               0 0 20px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
               line-height: 30px;
               border-radius: 100px;
               background-color: black;
             
}


#equal,#c {
  background-image: linear-gradient(236deg, #f008dc, rgb(4, 3, 5), #04cbfd);
}

li {
  list-style-type:none;
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
               0 0 20px #03bcf4,
               0 0 40px #03bcf4,
               0 0 80px #03bcf4,
               0 0 160px #03bcf4;
               text-align: center;
}

@keyframes animate 
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
        {
            color: #0e3742;
            box-shadow:none;
        }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
                 0 0 20px #03bcf4,
                 0 0 40px #03bcf4,
                 0 0 80px #03bcf4,
                 0 0 160px #03bcf4;
}
}









